[Desktop Entry]
Type=Action
TargetLocation=true

Name=Open with Jupyter
Name[pt]=Abrir no Jupyter
Name[es]=Abrir en Jupyter

Profiles=open-jupyter;

[X-Action-Profile open-jupyter]
Name=open-jupyter
ExecutionMode=Terminal
Exec=gnome-terminal --working-directory %f -e "jupyter notebook"


